// Responsive breakpoints
$breakpoint-small: 540px;
$breakpoint-medium: 960px;
$breakpoint-large: 1360px;

// Harmony ratio for font scaling
$harmony-ratio: 1.2 !default;

// Colours
$color-delay: #ff0033;